<ul class="social">
    {{! Put your social media links here }}
    <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
</ul>
