@import "node_modules/font-awesome/scss/font-awesome.scss";
html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.01rem;
    color: $main_text;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merriweather', serif;
}
a {
    color: $link;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 300;
    &:hover {
        color: $header_link;
    }
}

.container {
    max-width: 780px;
    width: 90%;
    margin: 0 auto;
}


/** Header **/
.header {
    min-height: 50px;
    border-bottom: 1px solid $border_color;
    padding: 15px 0;
    margin-bottom: 60px;
    .container {
        display: flex;
        flex-direction: row;
    }
    .page-title {
        flex: 2;
        .name {
            font-size: 1.5em;
            text-transform: capitalize;
            font-weight: 300;
            margin: 0;
            a {
                font-weight: 700;
                color: $header_link;
            }
        }
        .desc {
            margin: 2px 0 0;
            font-size: 16px;
            color: $link;
        }
    }
}


/** Main Content */

.main-content {
    .post-content {
        code {
            font-size: .8em;
        }
    }
}

.post-template {
    .post {
        margin-top: 55px;
        .post-meta {
            font-family: 'Merriweather', serif;
            margin-top: 15px;
            font-size: 12px;
            font-weight: 300;
            color: $post_meta;
            line-height: 2.2;
            .author-image {
                margin: 0;
                float: left;
                .name:after {
                    content: "-";
                    padding: 0 5px;
                }
                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    background-size: cover;
                    border-radius: 100%;
                    text-indent: -9999px;
                    margin-right: 4px;
                }
            }
        }
        .post-footer {
            font-size: .9em;
            border-top: 1px solid $border_color;
            .share {
                padding: 20px 0 30px;
                float: right;
                a {
                    margin-left: 5px;
                }
                span {
                    font-size: .9em;
                    font-weight: 400;
                    margin-right: 15px;
                }
            }
        }
        .post-header {
            margin-bottom: 70px;
        }
        .post-title {
            font-size: 1.8em;
            margin-bottom: 0;
            line-height: 1.4;
        }
        .post-content {
            margin-bottom: 40px;
        }
    }
    .page .post-header {
        margin-bottom: 30px;
    }
}

.home-template,
.paged,
.tag-template {
    .post {
        position: relative;
        border-bottom: 1px solid $border_color;
        padding-bottom: 1.8em;
        padding-top: 0;
        margin: 1.8em 0;
        .post-excerpt {
            .read-more {
                font-size: .8em;
            }
            margin: 0;
        }
        .post-title {
            margin: 0.67em 0 0;
            a {
                font-weight: 700;
                color: $main_text;
                &:hover {
                    color: $header_link;
                }
            }
        }
        .post-meta {
            font-family: 'Merriweather', serif;
            font-weight: 300;
            font-size: 12px;
            color: $post_meta;
            a {
                color: $post_meta;
                &:hover {
                    color: $header_link;
                }
            }
        }
        .post-tags-loop {
            margin-top: 1em;
            a {
                display: inline;
            }
        }
    }
}

.tag-template {
    .post-title {
        font-weight: 300;
        span {
            font-weight: 700;
        }
    }
}

.post-meta {
    .dot {
        &:after {
            content: "·";
            padding-right: .3em;
            padding-left: .3em;
        }
    }
}

.footer {
    margin-top: 40px;
    color: $footer_color;
    background-color: $footer_bg;
    padding: 40px 0 0;
    .footer-heading {
        font-weight: 700;
        letter-spacing: 0.03rem;
        margin: 0 0 .6em 0;
        font-size: .9em;
    }
    a {
        color: $footer_link;
        &:hover {
            color: $footer_color;
        }
    }

    .links {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        ul, ol {
            list-style: none;
            margin: 0;
            padding: 0;
            &.social {
                li {
                    display: inline-block;
                    padding-right: 6px;
                }
            }
            li {
                line-height: 1.6;
            }
            a {
                font-size: .7em;
                font-weight: 300;
            }
        }

        .recent {
            flex: 2 0 0;
        }
        .explore, .follow {
            flex: 1 0 0;
        }
    }
    #copyright {
        padding: 20px 0 10px;
    }
}


.copyright-text {
    padding: 2px 0;
    font-size: 11px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    color: $footer_link;
    a {
        font-weight: 400;
    }
}

.home-link {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 3px 8px;
    background: $main_text;
    color: $footer_color;
    &:hover {
        color: $footer_color;
        background: $footer_bg;
    }
}
@media only screen and (max-width: 768px) {
    .home-link {
        display: none;
    }
    .header {
        text-align: center;
        min-height: 40px;
        .title {
            margin: 8px 0;
            width: 100%;
            text-align: center;
            font-size: 1.1em;
            line-height: 1.6em;
        }
        .main-navigation {
            display: none;
        }
        .menu {
            width: 24px;
            height: 12px;
            margin: 0 auto;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;
            border-bottom: 0;
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $header_link;
                border-radius: 6px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 6px;
                }
                &:nth-child(3) {
                    top: 12px;
                }
            }
            &.open {
                span:nth-child(1) {
                    top: 6px;
                    width: 0%;
                    left: 50%;
                }
                span:nth-child(2) {
                    transform: rotate(45deg);
                }
                span:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 6px;
                }
            }
        }
    }
    .post-template {
        .post {
            margin-top: 30px;
            .post-title {
                font-size: 2em;
                line-height: 1.4em;
            }
        }
    }
    .home-template,
    .tag-template {
        .post {
            .post-meta {
                font-size: 1em;
            }
        }
    }
    .container {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer {
        padding: 30px 0 0;
        .links {
            flex-direction: column;
            .footer-heading {
                margin: 0;
            }
            .follow, .recent {
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .header .container {
        margin-left: 12px;
        margin-right: 12px;
    }
    .container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}
