nav {
    &.main-navigation {
        flex: 2;
        text-align: right;
        ul {
            margin: 0;
            padding: 45px 0 0;
            li {
                list-style: none;
                display: inline-block;
                font-size: 14px;
                &:after {
                    content: "·";
                    padding-right: .5em;
                    padding-left: .5em;
                    color: $link;
                }
                &:last-child:after {
                    content: '';
                }
                a {
                    font-weight: 600;
                }
            }
        }
    }
    &.pagination {
        text-align: center;
        font-size: .8em;
        margin-bottom: 40px;
        .page-number {
            margin: 0 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    body.nav-opened {
    	.wrapper {
    	    transform: translate3D(-120px, 0, 0);
    	    transition: transform 0.3s ease;
    	}
    	header .main-navigation {
    		margin: 0;
    	    display: block;
    	    position: fixed;
    	    top: 0;
    	    right: 0;
    	    bottom: 0;
    	    z-index: 5;
    	    width: 120px;
    	    right: -120px;
    	    transform: translate3D(0, 0, 0);
    	    opacity: 1;
    	    color: #fff;
    	    background: #0A5A38;
    	    margin-bottom: 0;
    	    text-align: left;
    	    overflow-y: auto;
    	    ul {
    	    	padding: 20% 10% 5%;
    	    	list-style: none;
    	    	float: left;
    	    	li {
                    padding: 3px 2px;
    	    		display: block;
                    &:after {
                        content: "";
                        padding: 0;
                    }
                    a {
                        color: $footer_link;
                    }
    	    	}
    	    }
    	}
    }
}
