$main_text: #616161;
$border_color: #f1f1f1;
$link: #999;

$header_text: #a5a5a5;
$header_link: #1C9963;

$post_meta: #bfbfbf;

$footer_bg: rgb(31, 105, 73);
$footer_color: #fff;
$footer_link: rgba(255, 255, 255, 0.6);
