$main_text: #484848;
$border_color: #eee;
$header_text: #fff;
$footer_bg: rgb(31, 105, 73);
$header_link: rgba(255, 255, 255, 0.57);

$header_color: #1C9963;
$subheader: #b2b2b2;

$content_bg: #F8F8F8;
$meta_color: #B2B2B2;


